body {
  box-sizing: border-box;
}

.main-container {
  width: 300px;
  height: 300px;
}
.row-container {
  display: flex;
}

.box {
  /* width: 52.2px;
  height: 52.2px; */
  background-color: rgb(252, 252, 252);
  border: 1px solid black;
}
